<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplane Added</title>
</head>
<body>
<a href="/home">home page</a>
    <h1>Airplane Added</h1>
    <div id="warning" style="color: red;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ messages[0] }}
        {% else %}
            <p>The airplane has been successfully added with the following details:</p>
        {% endif %}
    {% endwith %}
</div>
    <table border="1">
        <tr>
            <th>Airline Name</th>
            <th>Airplane ID</th>
            <th>Number of Seats</th>
        </tr>
        {% for airplane in airplane %}
            <tr>
                <td>{{ airplane[0] }}</td>
                <td>{{ airplane[1] }}</td>
                <td>{{ airplane[2] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
